@page
@model MiProyectoWeb.Models.IndexModel
@{
	ViewData["Title"] = "About";
}

<div class="text-center">
	<h1 class="display-4">About Page</h1>
	<p>This is the about page of the ASP.NET Core application.</p>
</div>
